# air tmp build
server/tmp

# compiled app
terminal-app/terminal-app

# test files
terminal-app/scripts/test.sh

# venv
rag-chain/venv

# vector store files
rag-chain/store/**

# python cache
**/__pycache__/

# .env files
rag-chain/.env