services:
  nginx:
    image: nginx:1.29.1
    ports:
      - "443:443"
      - "127.0.0.1:80:80"
    volumes:
      - ./nginx/nginx.conf.prod:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt/live/elielberra.com/fullchain.pem:/etc/ssl/certs/elielberra.crt:ro
      - /etc/letsencrypt/live/elielberra.com/privkey.pem:/etc/ssl/private/elielberra.key:ro
    logging:
      driver: "none"
    networks:
      - public
      - private
  terminal-app:
    container_name: terminal-app
    build:
      context: ./terminal-app
      dockerfile: Dockerfile.prod
    env_file:
      - ./terminal-app/.env.prod
    volumes:
      - ./terminal-app/scripts:/app/scripts
      - ./terminal-app/static:/app/static
      - ./terminal-app/scripts/eliel.sh:/usr/bin/eliel
      - ./quest-files/bitcoin-password:/home/web-user/bitcoin-password
      - ./quest-files/hint-1:/home/web-user/hint-1
      - ./quest-files/hint-2:/hint-2
      - ./quest-files/hint-3.gpg:/tmp/hint-3.gpg
      - ./quest-files/hint-2.5:/tmp/hint-2.5
      - ./quest-files/.hint-3-gpg-passphrase:/var/log/.hint-3-gpg-passphrase
      - ./quest-files/easter-egg:/usr/bin/easter-egg
      - rag_sock:/sockets
    networks:
      - private 
    security_opt:
      - apparmor:terminal-app
      - no-new-privileges:true
    read_only: true
    tmpfs:
     - /home/web-user/.gnupg:rw,uid=1001,gid=1001,mode=700,nosuid,nodev,noexec
    cap_drop:
      - ALL
    cap_add:
      - SETUID
      - SETGID
  rag-chain:
    container_name: rag-chain
    build:
      context: ./rag-chain
      dockerfile: Dockerfile.prod
    env_file:
      - ./rag-chain/.env
    volumes:
      - ./rag-chain/main.py:/rag-chain/main.py
      - ./rag-chain/app:/rag-chain/app
      - ./rag-chain/data:/rag-chain/data
      - ./rag-chain/store:/rag-chain/store
      - rag_sock:/sockets
    networks:
      - public
    user: "0:0"
    command: >
      /bin/sh -lc
      "mkdir -p /sockets &&
      chown -R app-rag-chain:app-rag-chain /sockets &&
      exec su -s /bin/sh -c 'python main.py' app-rag-chain"

networks:
  public: {}
  private:
    internal: true
volumes:
  rag_sock: {}
